# Introduction to Loops

Sometimes a programmer wants to execute a group of statements a certain number of times. This can be done using loops. Based on this loops are further classified into following main types;

* for loop
* while loop

## for Loop

for loops can iterate over a sequence of iterable objects in python. Iterating over a sequence is nothing but iterating over strings, lists, tuples, sets and dictionaries.

In [1]:
name = 'Abhishek'
for i in name:
    print(i, end=", ")

A, b, h, i, s, h, e, k,

## Example: iterating over a list:

In [3]:
colors = ["Red", "Green", "Blue", "Yellow"]

for x in colors:
    print(x)

Red
Green
Blue
Yellow

## range()

In [5]:
for k in range(5):
    print(k)

0
1
2
3
4

# Code

In [10]:
name = 'Abhishek'

for i in name:
  print(i)
  if(i =="b"):
    print("This is something special!")

A
b
This is something special!
h
i
s
h
e
k

In [11]:
colors = ["Red", "Green", "Blue", "Yellow"]
for color in colors:
  print(color)
  for i in color:
    print(i)

Red
R
e
d
Green
G
r
e
e
n
Blue
B
l
u
e
Yellow
Y
e
l
l
o
w

In [12]:
for k in range(5):
   print(k + 1)

1
2
3
4
5

for k in range(1, 200001):
   print(k)

In [15]:

for k in range(1, 12, 3):
  print(k)

1
4
7
10